<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>YourDiet</title>
        <link rel="stylesheet" href="../public/css/globalStyle.css" type="text/css"/>
        <link rel="stylesheet" href="../public/css/startStyle.css" type="text/css"/>
    </head>

    <body>
        <div id="logoAndOption">
            <div id="logo"> 
                <img class="imgLogo" src="../public/img/fullLogo.png" alt="logo"/>
            </div>
            <div id="option">
                <form action="file:///C:/xampp/htdocs/YourDiet/views/login.html">
                    <input class="submitInput" type="submit" value="Zaloguj się"/>
                </form>
                <form action="file:///C:/xampp/htdocs/YourDiet/views/register.html">
                    <input class="submitInput" type="submit" value="Zarejestruj się"/>
                </form>
                <form action="https://www.google.pl">
                    <input class="submitInput" type="submit" value="Zaloguj się jako gość"/>
                </form>
            </div>
        </div>
        <div id="content">
        </div>
    </body>
    
</html>

