.container-fluix
{
    position: fixed;
    right: 0;
    width: 85%;
    justify-content: center;
    height: inherit;
    align-items: center;
}

.container-fluix::after
{
    content: "";
    background: url("../img/mainBackground.jfif")  center;
    background-size: cover;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.menu
{
    position: fixed;
    float: left;
    height: 100%;
    width: 15%;
    left: 0;
    background-color: #EBE9E9;
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileMenu
{
    display: none;
    width: 100%;
    height: 6%;
    background-color: #3b3939;
}

.mobileMenu label
{
    color: #FFFFFF;
}

.menu .menuLogo
{
    width: 90%;
    margin-top: 30%;
}

.menu .menuList
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70%;
}

.menu .menuList a
{
    text-decoration: none;
}

.menu .menuList .submitInput
{
    width: 100%;
    text-align: center;
    font-size: 95%;
    margin-bottom: 13%;
    border-radius: 0;
    border: none;
    list-style-type: none;
}

.menu .menuLogOut
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu .menuLogOut input
{
    width: 100%;
    background: #707070;
    padding: 5%;
    border: 1px solid #707070;
    font-size: 100%;
    color: #FFFFFF;
    cursor: pointer;
}

.menu .menuLogOut input:hover
{  
    background: #3b3939;
}

.daysMenu 
{
    margin-top: 2%;
    background-color: #EBE9E9;
    padding: 1%;
    display: flex;
    text-align: center;
}

.daysMenu .submitInput
{
    width: 80%;
    font-size: 100%;
    margin-bottom: 0;
    margin-right: 2%;
    margin-left: 1%;
    padding: 0.6%;
    border-radius: 0;
    text-decoration: none;
}

.schedule
{
    border: solid 1px;
    height: 95%;
}

.schedule label
{
    width: 100%;
    padding: 2%;
    padding-left: 0;
    color: #3b3939;
    font-size: 140%;
}

.schedule .dish
{
    width: 100%;
    height: 25%;
    background-color: red;
}

.schedule .dish .imgDish
{
    position: relative;
    width: 35%;
    height: 100%;
    background: url("../img/exampleOfFood.jpg") no-repeat center;
    background-size: cover;
}

.schedule .dish h4
{
    background-color: blue;
    position: relative;
    float: left;

}

.content
{
    height: 90%;
}

.content .contentOption
{
    display: flex;
    justify-content: center;
}

.content .contentOption button
{
    padding: 2%;
    margin: 2% 8%;
    margin-top: 0%;
    width: 30%;
    font-size: inherit;
    border-radius: 2px;
}

.content .summary
{
    background-color: #EBE9E9;
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    padding: 4%;
}

.content .summary .box
{
    background-color: royalblue;
    width: 40%;
    padding: 4%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .summary .box #name
{
    font-size: 140%;
    margin-bottom: 20%;
}

.content .summary .box #amount
{
    font-size: 120%;
}

@media only screen and (max-width: 768px)
{
    .mobileMenu
    {
        display: inline-block;
    }

    .container-fluix
    {
        width: 100%;
    }

    .menu
    {
        width: 50%;
        z-index: 1; 
    }

    .menu .menuLogo
    {
        width: 70%;
        margin-top: 15%;
    }

    .menuList
    {
      
    } 

    .menuList .submitInput
    {
        font-size: 95%;
        margin-bottom: 2%;
    }

    .menuLogOut
    {
        margin-bottom: 14%;
    }
}

