.container-fluix
{
    position: fixed;
    right: 0;
    width: 85%;
    justify-content: center;
    height: inherit;
    align-items: center;
   
}

.container-fluix::after
{
    content: "";
    background: url("../img/mainBackground.jfif") no-repeat center;
    background-size: cover;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.menu
{
    position: fixed;
    float: left;
    height: 100%;
    width: 15%;
    left: 0;
    background-color: #EBE9E9;
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-trigger
{
    display: none;
}

.menu-trigger:focus ~ .menu, .menu:hover
{
    transform: translateX(0);
}

.menuLogo
{
    width: 90%;
    margin-top: 30%;
}

.menuList
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70%;
}

.menuList a
{
    text-decoration: none;
}

.menuList .submitInput
{
    width: 100%;
    text-align: center;
    font-size: 95%;
    margin-bottom: 13%;
    border-radius: 0;
    border: none;
    list-style-type: none;
}

.menuLogOut
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menuLogOut input
{
    width: 100%;
    background: #707070;
    padding: 5%;
    border: 1px solid #707070;
    font-size: 100%;
    color: #FFFFFF;
    transition-duration: 0.4s;
    cursor: pointer;
}

.menuLogOut input:hover
{  
    background: #3b3939;
}

.daysMenu 
{
    margin-top: 2%;
    background-color: #EBE9E9;
    padding: 1%;
    display: flex;
    text-align: center;
}

.daysMenu .submitInput
{
    width: 80%;
    font-size: 100%;
    margin-bottom: 0;
    margin-right: 2%;
    margin-left: 1%;
    padding: 0.6%;
    border-radius: 0;
    text-decoration: none;
}

.schedule
{
    border: solid 1px;
    height: 95%;
}

.schedule label
{
    width: 100%;
    padding: 2%;
    padding-left: 0;
    color: #3b3939;
    font-size: 140%;
}

.dish
{
    width: 100%;
    height: 15%;
    background-color: green;
}

.content
{
    background-color: #EBE9E9;
    height: 95%;
}

@media only screen and (max-width: 768px)
{
    .menu-trigger
    {
        display: inline-block;
    }

    .container-fluix
    {
        width: 100%;
    }

    .menu
    {
        width: 50%;
        transition: 0.7s;
        transform: translateX(-100%);
        z-index: 1; 
    }

    .menuList
    {
        margin-top: 30%;
    } 

    .menuList .submitInput
    {
        font-size: 95%;
        margin-bottom: 5%;
    }
}