.container-fluix
{
    position: fixed;
    right: 0;
    width: 85%;
    justify-content: center;
    height: inherit;
    align-items: center;
}

.container-fluix::after
{
    content: "";
    background: url("../img/mainBackground.jfif")  center;
    background-size: cover;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.modal
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal .content
{
    position: relative;
    background-color: #FFFFFF;
    width: 90%;
    height: 90%;
    margin: 3% 5%;
    padding: 2%;
    border: 1px solid #707070;
}

.modal .content .closeModal
{
  position: absolute;
  top: 0.6%;
  right: 0.6%;
  font-size: 300%;
  cursor: pointer;
}

.modal .content #photo
{
  width: 40%;
  height: 70%
}

.modal .content #names
{
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1% 3%;
    border: 1px solid;
    border-top: none;
}

.modal .content #des
{

  width: 53%;
  height: 94%;
  position: absolute;
  top: 3%;
  right: 4%;
  padding: 3%;
  border: 1px solid;
}

.modal .content #dishImg
{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.modal .content #name
{
  font-size: 300%;
}

.modal .content #preparationTime
{
  font-size: 200%;
  text-align: left;
}

.modal .content #calories
{
  font-size: 200%;
  text-align: left;
}

.leftBox
{
    background-color: #EBE9E9;
    margin-top: 3%;
    height: 110%;
}

.leftBox .search
{
    width: 60%;
    margin-top: 3%;
    float: left;
}

.leftBox .search #text
{
    width: 80%;
}

.leftBox .search #searchButton
{
    width: 20%;
}

.leftBox #checkbox
{
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    float: left;
    text-align: right;
}

.leftBox #results
{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    overflow: auto;
    
}

.leftBox #results .dish 
{
    position: relative;
    width: 40%;
    height: 20%;
    border: 1px solid black;
    padding: 4%;
    margin: auto;
    margin-bottom: 10%;
} 

.leftBox #results .dish .plus
{
  position: absolute;
  font-size: 80px;
  left: 25%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.leftBox #results .dish .eye
{
  position: absolute;
  font-size: 80px;
  left: 75%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.leftBox #results .dish .imgBox
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    top: 0;
}

.leftBox #results .dish .imgBox img
{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.leftBox #results .dish .textBox 
{
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.leftBox #results .dish .textBox .name
{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    margin: 0;
    margin-top: 5%;
    padding: 3%;
    text-align: center;
    font-size: 140%;
}

.leftBox #results .dish .textBox .preparationTime
{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 0;
    margin: 0;
    padding: 3%;
    text-align: center;
}

.leftBox #results .dish .textBox .calories
{
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 25%;
    bottom: 0;
    margin: 0;
    padding: 5%;
}

.rightBox
{
    margin-top: 3%;
    border: solid 1px;
    height: 110%;
    padding: 0;
    overflow: auto;
    background-color: #EBE9E9;
}

.rightBox .daysSlider 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightBox .daysSlider .arrow
{
    color: #3b3939;
    cursor: pointer;
}

.rightBox .daysSlider #dayName
{
    color: #3b3939;
    font-size: 120%;
    margin: auto;
}

.rightBox .tabButtons
{
    margin-top: 4%;
}

.rightBox .tabButtons .off
{
    width: 50%;
    background: #FFFFFF;
    border: none;
    font-size: 130%;
    color: #3b3939;
    transition-duration: 0.4s;
}

.rightBox .tabButtons .off:hover
{
    background: #3b3939;
    color: #FFFFFF;
}

.rightBox .tabButtons .on
{
    width: 50%;
    background: #3b3939;
    border: none;
    font-size: 130%;
    color: #FFFFFF;
    transition-duration: 0.4s;
    cursor: default;
}

.rightBox .tab
{
    height: 100%;
}


.rightBox #schedule .dish 
{
    position: relative;
    width: 90%;
    height: 15%;
    border: 1px solid black;
    padding: 4%;
    margin: 5%;
} 

.rightBox #schedule .dish .minus
{
  position: absolute;
  font-size: 80px;
  left: 25%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.rightBox #schedule .dish .eye
{
  position: absolute;
  font-size: 80px;
  left: 75%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.rightBox #schedule .dish .imgBox
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    top: 0;
}

.rightBox #schedule .dish .imgBox img
{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.rightBox #schedule .dish .textBox 
{
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.rightBox #schedule .dish .textBox .name
{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    margin: 0;
    margin-top: 3%;
    padding: 3%;
    text-align: center;
    font-size: 140%;
}

.rightBox #schedule .dish .textBox .preparationTime
{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 0;
    margin: 0;
    padding: 5%;
    text-align: center;
}
.rightBox #schedule .dish .textBox .calories
{
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 25%;
    bottom: 0;
    margin: 0;
    padding: 5%;
}

@media only screen and (max-width: 768px)
{
    .container-fluix
    {
        width: 100%;
    }

    .modal .content
    {
        padding: 0;
    }

    .modal .content .closeModal
    {
        top: 0.6%;
        right: 2%;
        font-size: 250%;
        color: white;
    }

    .modal .content #photo
    {
        width: 100%;
        height: 50%
    }

    .modal .content #names
    {
        width: 100%;
        height: 15%;
        font-size: 70%;
        border: none;
    }

    .modal .content #des
    {
        position: static;
        height: 35%;
        width: 100%;  
        border: none;
    }
    .leftBox .search
    {
        width: 100%;
    }

    .leftBox #checkbox
    {
        width: 100%;
    }
}

